.done-checkout {
    background-color: green;
    color: white;
    border-color: green;
}

.not-checkout-yet {
    background-color: red;
    color: white;
    border-color: red;
}

#backTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #D10024;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
  }

#backTop:hover {
    background-color: #555;
}

.product {
    min-height: 310px;
}

.orders {
    display: none !important;
}

.display-order {
    display: inline-block !important;
}

@media (max-width: 991.98px) {
    .input-search {
        display: none !important;
    }
    .setting-menu {
        display: none !important;
    }
    .alert-menu {
        display: none !important;
    }
}

.shopping-summery {
    table-layout: fixed;
}

.table-status-pending {
    background-color: #FFF;
    border-color: #D10024;
    color: #D10024;
}

.table-status-on-delivery {
    background-color: #FFF;
    border-color: #ffa600;
    color: #ffa600;
}

.table-status-delivered {
    background-color: #FFF;
    border-color: green;
    color: green;
}